.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/* CUSTOMIZE THE BODY
-------------------------------------------------- */
body {
    background-color:white;
    color: #40484f;
    font-family: 'Abel', sans-serif;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
header .container-fluid {
    display: flex;
    justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h2 {
  font-size: 20px;
}

.logo {
  max-height: 80px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 {
    margin-top: 2.5rem;
    text-align: center;
  }

  /* .icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
} */

  /* i.far {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    width: 100px;
    height: 100px;
  }

  i.fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    width: 100px;
    height: 100px;
  }

  i.fab {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    width: 100px;
    height: 100px;
  } */


  .container-animation {
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  a.link , .box {
    position: absolute;
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow ease 1s;
    transition: -webkit-box-shadow ease 1s;
    transition: box-shadow ease 1s;
    transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
  }
  
  .icon {
    position: relative;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
    will-change: transform;
  }
  
  .icon_bg {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid rgba(225, 227, 232, 0.18);
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
            box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
    will-change: transform;
  }
  
  .title {
    position: relative;
    font-size: 1.5em;
  }
  
  .super-box:hover a {
  /*   border: 1px solid rgba(225, 227, 232, 0.18); */
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
            box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
    background-color: #ffffff;
    background-image: linear-gradient(
315deg
, #ffffff 0%, #f6fafb 76%);
  }
  
  .super-box:hover .icon_bg {
    -webkit-transform: translateY(-32px) scale(6);
            transform: translateY(-32px) scale(6);
  }
  
  .super-box:hover .icon {
    -webkit-transform: translateY(-48px) scale(1.4);
            transform: translateY(-48px) scale(1.4);
  }
  
  .super-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .text {
    position: relative;
    top: -65px;
    width: 200px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
  }
  
  .super-box:hover .text {
    opacity: 0;
    -webkit-transform: translateY(-4px) scale(.8);
            transform: translateY(-4px) scale(.8);
    
  }
  
  .box span {
    position: absolute;
    width: 170px;
    top: 111px;
    opacity: 0;
    font-size: 18px;
    color: #5d6494;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
  }
  
  .super-box:hover .box span {
    opacity: 1;
  }

  @media only screen and (max-width: 767px) {
    .header-left h2 { display: none; }
  }